@import url("./global.css");

.mapa{
    background-color: var(--color-background);
    padding: 124px 0;
}

iframe{
    width: 100%;
    height: 609px;
}

/* --------------footer----------------- */
footer{
    background-color: var(--color-background);
}
.footer-information{
    background-color: var(--color-neutral-white);
    display: flex;
    justify-content: center;
    padding: 80px 195px;
    gap: 108px;
}
.footer-information h2{
    font-size: var(--headline3);
    color: var(--color-text);
    font-weight: var(--headline3-weight);
    line-height: var(--line-height-h3);
}

.footer-information p{
    font-size: var(--paragraph);
    color: var(--color-second-text);
    font-weight: var(--paragraph-weight);
    line-height: var(--line-height-p);
}
.footer-information h2, .footer-information p{
    width: 213px;
    margin-bottom: 25px;
}

.footer-social{
    display: flex;
    gap: 20px;
}

.footer-navigation{
    display: flex;
    gap: 94px;
}

.social-icons{
    transition: 0.5s;
}
.social-icons:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.footer-navigation h3{
    width: 177px;
    margin-bottom: 20px;
}
.nav-links{
    list-style: none;
    padding: 0;
}
.footer-item{
    display: block;
    text-decoration: none;
    color: var(--color-second-text);
    margin-bottom: 10px;
    transition: 0.5s;
}

.footer-item:hover{
    transform: translateX(10px);
    color: var(--color-primary-blue);
    font-weight: 700;
    cursor: pointer;
}
.copyright{
    text-align: center;
    padding: 25px 0;
}
/* --------------fim footer------------- */