@import url("./global.css");

.mapa{
    background-color: var(--color-background);
    padding: 124px 0;
}

iframe{
    width: 100%;
    height: 609px;
}

/* --------------footer----------------- */
footer{
    background-color: var(--color-background);
}
.footer-information{
    background-color: var(--color-neutral-white);
    display: flex;
    justify-content: center;
    padding: 80px 195px;
    gap: 108px;
}
.footer-information h2{
    font-size: var(--headline3);
    color: var(--color-text);
    font-family: var( --font);
    font-weight: var(--headline3-weight);
    line-height: var(--line-height-h3);
}

.footer-information p{
    font-size: var(--paragraph);
    color: var(--color-second-text);
    font-family: var(--font);
    font-weight: var(--paragraph-weight);
    line-height: var(--line-height-p);
}
.footer-information h2, .footer-information p{
    width: 170px;
    margin-bottom: 25px;
}

.footer-social{
    display: flex;
    gap: 20px;
}

.footer-navigation{
    display: flex;
    gap: 94px;
}

.footer-navigation h3{
    margin-bottom: 20px;
}
.nav-links{
    list-style: none;
    padding: 0;
}
.footer-item{
    display: block;
    text-decoration: none;
    color: var(--color-second-text);
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    padding: 25px 0;
}
/* --------------fim footer------------- */