@import url('./global.css');

body {
    font-family: var(--font);
}
.aboutus-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
    margin-right: 221.5px;
    margin-left: 221.5px;
}
.aboutus-title h2 { 
    font-size: 40px;
    font-weight: bold;
    color: var(--color-text);
}
.aboutus-title p { 
    font-size: 14px;
    color: var(--color-second-text-color);
    margin-top: 10px;
    width: 470px;
    text-align: center;
}
.aboutus-content {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    gap: 120px;
    padding: 43px 0;
}
.aboutus-content img {
   width: 592px; 
   height: 442px;
}
.aboutus-content-text {
    width: 333px;
    margin-top: 20px;
}
.aboutus-content-text h3{
    margin-top: 20px;
    color: var(--color-text);
    font-size: 24px;
}

.aboutus-content-text p{
    margin-top: 20px;
    font-size: 14px;
    color: var(--color-second-text);
}
.aboutus-content-text-icons {
    margin-top: 30px;
}
.aboutus-content-text-icons img {
    width: 32px;
    height: 32px;
}
.aboutus-content-text-icons {
    display: flex;
    gap: 20px;
}
.aboutus-content-text-icons .icon {
    align-items: start;
}
.aboutus-content-text-icons h3 {
    color: var(--color-text);
    font-weight: bold;
}
.aboutus-content-text-icons p {
    margin-top: 2px;
    color: var(--color-second-text-color);
}

/* Pricing */
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
}
.pricing-top h2 {
    color: var(--color-text);
}
.pricing-top p {
    width: 470px;
    text-align: center;
    margin-top: 10px;
    color: var(--color-second-text);
    text-align: var(--headline6);
}
.pricing-bottom h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.pricing-bottom {
    width: 706px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 30px;
}
.pricing-bottom-box {
    width: 337px;
    border: 1px solid var(--color-primary-blue);
    border-radius: 8px;
}
.pricing-bottom-box-btn {
    text-align: center;
}
.pricing-bottom-box-btn button {
    color: var(--color-neutral-white);
    text-align: center;
    font-size: var(--btn-text);
    padding: 15px 98px;
    background-color: var(--color-primary-blue);
    margin-top: 35px;
    margin-bottom: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.pricing-bottom-box p {
    color: var(--color-second-text);
    font-size: var(--headline5);
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
}
.pricing-bottom-box-img {
    text-align: center;
}

.pricing-bottom-box-icons {
    margin-top: 35px;
}
.pricing-bottom-box-icons .text {
    color: var(--color-text);
    font-size: var(--headline6);
}
.pricing-bottom-box-icons {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.pricing-bottom-box-icons-icon h4 {
    color: var(--te--color-text);
    font-size: var(--headline6);
    font-weight: 600;
}
.pricing-bottom-box-icons-icon img {
    width: 24px;
}
.pricing-bottom-box-icons .icon {
    align-items: start;
    margin-bottom: 16.38px;
  
}
.pricing-bottom-box-icons-icon {
    display: flex;
    justify-content: start;
    padding: 0 10px;
    gap: 15px;  
}

/* Versão Mobile */
@media (max-width: 480px) {

    .aboutus-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutus-title h2 {
        width: 470px;
        font-size: 38px;

    }
    .aboutus-title p { 
        width: 350px;
        text-align: center;
    }
    .aboutus-content {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        gap: 25px;
    }
    .aboutus-content img {
        width: 95%;
        height: 95%;
        margin: 0 10px;
      }
     .aboutus-content-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;   
    }
    .aboutus-content-text p {
        margin-bottom: 20px;
    }
       .aboutus-content-text-icons {
        gap: 7px; 
        margin-left: 20px;
        margin-top: 10px;
    } 
    .aboutus-content-text-icons img {
        width: 32px;
        height: 32px;
        margin-left: 10px;
    }
    .pricing {
        display: flex;
        align-items: start;
     }
    .pricing-top {
        margin-top: 20px;
    }
    .pricing-top p {
        width: 95%;
    } 
    .pricing-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;   
        width: 90%;
        margin-top: 40px;
        margin-left: 10px;
    }
}

/* Versão Mobile */
@media (max-width: 850px) {

}







